<div class=" card text-center border-secondary">

    <div class="card-header"><i class="fa fa-list-alt"></i>  Lista de Usuarios </div>

    <div class="card-body">
    
        <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Registro</h6>
                 <app-formulario (addUsuario)="agregarUsuario($event)"></app-formulario>
                </div>
              </div>
            </div>
            
            <div class="col-sm-8">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Lista</h6>
                  <app-lista [usuarios]="lsUsuarios"></app-lista>
                </div>
              </div>
            </div>
          </div>

    </div>

    <div class="card-footer text-muted"> Desafio 03 </div>

  </div>